@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Martel:regular,600,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  position: relative;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 7.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(7.5rem, 13.75rem) 1fr;
  grid-template-columns: 1fr minmax(7.5rem, 13.75rem) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.3125rem;
}

.header__container::before {
  content: "";
  position: absolute;
  width: calc(100% - 1.875rem);
  height: 0.0625rem;
  bottom: 0;
  left: 50%;
  background-color: #888888;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.header__left-part {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, rgba(72, 94, 213, 0.787552521)), color-stop(82%, rgba(91, 101, 153, 0.3701855742)));
  background: -o-linear-gradient(top, rgba(72, 94, 213, 0.787552521) 8%, rgba(91, 101, 153, 0.3701855742) 82%);
  background: linear-gradient(180deg, rgba(72, 94, 213, 0.787552521) 8%, rgba(91, 101, 153, 0.3701855742) 82%);
  border-radius: 0.625rem;
  padding: 1.875rem 2.5rem;
  text-align: center;
}

.header__left-part a {
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.header__logo {
  text-align: center;
}

.header__logo img {
  max-width: 100%;
}

.header__right-part {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, rgba(72, 94, 213, 0.787552521)), color-stop(82%, rgba(91, 101, 153, 0.3701855742)));
  background: -o-linear-gradient(top, rgba(72, 94, 213, 0.787552521) 8%, rgba(91, 101, 153, 0.3701855742) 82%);
  background: linear-gradient(180deg, rgba(72, 94, 213, 0.787552521) 8%, rgba(91, 101, 153, 0.3701855742) 82%);
  border-radius: 0.625rem;
  padding: 1.875rem 2.5rem;
}

.header__right-part a {
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.header__navigation {
  -ms-grid-column-span: 3;
  grid-column: span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  width: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #000;
}

.header__search svg path {
  fill: #000;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  padding: 0.3125rem 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #888888;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.menu__item a {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 300;
  color: #424242;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  height: 1.125rem;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background-color: #000;
  border-radius: 0.125rem;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  background-color: #adadad;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 0.875rem;
}

.footer__container-big {
  width: 100%;
  max-width: 93.75rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  text-transform: capitalize;
  line-height: 1.2;
  color: #424242;
}

.footer__menu {
  color: #fff;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__icon {
  width: 1.875rem;
  height: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.footer__icon svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.9375rem;
          flex: 0 0 0.9375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  fill: #adadad;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.footer__icon svg path {
  fill: #adadad;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.footer__icon:hover {
  background-color: #424242;
}

.footer__icon:hover svg {
  fill: #fff;
}

.footer__icon:hover svg path {
  fill: #fff;
}

.footer_link {
  text-transform: capitalize;
}

.footer__decor {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #888888;
  border-radius: 0.3125rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.menu-footer__item {
  text-align: center;
}

.menu-footer__link {
  line-height: 1.2;
  text-transform: capitalize;
}

.page__container {
  padding-top: 1.5625rem;
  padding-bottom: 3.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30%;
  grid-template-columns: 1fr 30%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.button {
  padding: 0.3125rem 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #888888;
  font-size: 0.625rem;
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.create-book {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 1fr;
  grid-template-columns: 20rem 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  padding-bottom: 1.875rem;
  border-bottom: 0.0625rem solid #888888;
}

.create-book__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.create-book__body {
  border-bottom: 0.0625rem solid #888888;
}

.create-book__title {
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.create-book__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.create-book__link {
  display: inline-block;
  line-height: 1.2;
}

.create-book__link:not(:last-child) {
  margin-bottom: 0.625rem;
}

.create-book__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  line-height: 1.2;
  font-size: 0.875rem;
  padding-right: 0.9375rem;
}

.create-book__button {
  padding: 0.3125rem 0.9375rem;
  border: 0.0625rem solid #962f2f;
  border-radius: 0.9375rem;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  background-color: #962f2f;
  -webkit-box-shadow: 0.1875rem 0.3125rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.05);
          box-shadow: 0.1875rem 0.3125rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.create-book__image {
  text-align: center;
}

.create-book__image img {
  max-width: 100%;
}

.item-create-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-create-book__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-create-book__icon svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: #000;
}

.item-create-book__icon svg path {
  fill: #000;
}

.item-create-book__body {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  gap: 0.1875rem;
  line-height: 1.2;
}

.item-create-book__link {
  font-size: 1.125rem;
  font-weight: 500;
}

.item-create-book__text {
  font-size: 0.875rem;
  color: #424242;
}

.books {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 1fr;
  grid-template-columns: 20rem 1fr;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  border-bottom: 0.0625rem solid #888888;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.books__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.books__body {
  display: -ms-grid;
  display: grid;
}

.books__title {
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.books__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.books__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.books__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.books__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.books__icon svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: #000;
}

.books__icon svg path {
  fill: #000;
}

.books__text {
  line-height: 1.2;
  font-size: 0.875rem;
}

.books__button {
  line-height: 1.3;
  font-size: 0.625rem;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: rgb(51, 159, 179);
  text-decoration: underline;
}

.books__sub-title {
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.books__image {
  text-align: center;
}

.books__image img {
  max-width: 100%;
}

.item-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.item-books__body {
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 500;
}

.item-books__title {
  line-height: 1.2;
  text-transform: capitalize;
}

.item-books__title:not(:last-child) {
  margin-bottom: 0.125rem;
}

.item-books__name {
  text-transform: capitalize;
}

.chapters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 1fr;
  grid-template-columns: 20rem 1fr;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  border-bottom: 0.0625rem solid #888888;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.chapters__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.chapters__items {
  border-bottom: 0.0625rem solid #888888;
}

.chapters__title {
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.chapters__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.chapters__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.chapters__image {
  text-align: center;
}

.chapters__image img {
  max-width: 100%;
}

.item-chapters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.item-chapters__body {
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 500;
}

.item-chapters__title {
  line-height: 1.2;
  text-transform: capitalize;
}

.item-chapters__title:not(:last-child) {
  margin-bottom: 0.125rem;
}

.item-chapters__name {
  text-transform: capitalize;
}

.stats-chapters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.2;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
  padding-left: 0.625rem;
}

.stats-chapters__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.stats-chapters__item::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.625rem;
  border-radius: 0.1875rem;
  top: 0.15625rem;
  left: 0;
}

.stats-chapters__item:nth-child(5n+1)::before {
  background-color: yellow;
}

.stats-chapters__item:nth-child(5n+2)::before {
  background-color: orange;
}

.stats-chapters__item:nth-child(5n+3)::before {
  background-color: green;
}

.stats-chapters__item:nth-child(5n+4)::before {
  background-color: brown;
}

.stats-chapters__item:nth-child(5n+5)::before {
  background-color: blue;
}

.contests-aside {
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #888888;
}

.contests-aside__image:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.contests-aside__image img {
  max-width: 100%;
}

.contests-aside__title {
  line-height: 1.2;
}

.contests-aside__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.contests-aside__heading {
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.contests-aside__heading:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.contests-aside__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.contests-aside__items {
  padding: 0.9375rem 0rem;
}

.contests-aside__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-contests-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.item-contests-aside__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-contests-aside__icon svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #000;
}

.item-contests-aside__icon svg path {
  fill: #000;
}

.item-contests-aside__body {
  line-height: 1.2;
}

.item-contests-aside__label {
  font-weight: 500;
}

.item-contests-aside__label:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.item-contests-aside__caption {
  font-size: 0.875rem;
  color: #424242;
}

.points-contests-aside {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0.625rem 0.625rem 0.9375rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.points-contests-aside__title {
  line-height: 1.2;
  font-size: 0.875rem;
}

.points-contests-aside__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.points-contests-aside__value {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.points-contests-aside__value:not(:last-child) {
  margin-bottom: 1.25rem;
}

.points-contests-aside__button {
  white-space: nowrap;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #962f2f;
  border-radius: 0.9375rem;
  color: #fff;
  text-align: center;
  background-color: #962f2f;
  line-height: 1.2;
  font-size: 0.625rem;
  -webkit-box-shadow: 0.1875rem 0.3125rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.05);
          box-shadow: 0.1875rem 0.3125rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.indicators-aside {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.indicators-aside__challenge {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 0.9375rem;
  border-right: 0.0625rem solid #888888;
}

.indicators-aside__achievements {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 0.9375rem;
}

.challenge-block__image-ibg {
  padding-bottom: 75%;
}

.challenge-block__image-ibg:not(:last-child) {
  margin-bottom: 0.625rem;
}

.challenge-block__title {
  text-transform: capitalize;
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.challenge-block__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.challenge-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.challenge-block__item:not(:last-child) {
  margin-bottom: 0.375rem;
}

.challenge-block__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.challenge-block__icon svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: #000;
}

.challenge-block__icon svg path {
  fill: #000;
}

.achievements-block__image-ibg {
  padding-bottom: 75%;
}

.achievements-block__image-ibg:not(:last-child) {
  margin-bottom: 0.625rem;
}

.achievements-block__title {
  text-transform: capitalize;
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.achievements-block__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.achievements-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.achievements-block__item:not(:last-child) {
  margin-bottom: 0.375rem;
}

.achievements-block__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements-block__icon svg {
  -webkit-box-flex: 1.25rem;
      -ms-flex: 1.25rem;
          flex: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: #000;
}

.achievements-block__icon svg path {
  fill: #000;
}

.prompts-aside {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prompts-aside__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  padding-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prompts-aside__title {
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.prompts-aside__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.prompts-aside__caption {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.3;
  font-size: 1rem;
}

.prompts-aside__caption:not(:last-child) {
  margin-bottom: 1.25rem;
}

.prompts-aside__link {
  line-height: 1.3;
  font-size: 0.625rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: rgb(51, 159, 179);
  text-decoration: underline;
}

.prompts-aside__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.prompts-aside__image img {
  max-width: 100%;
}

.profile-aside__item {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #888888;
}

.profile-aside__title {
  font-family: "Martel";
  font-weight: 900;
  line-height: 1.2;
}

.profile-aside__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.profile-aside__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-aside__link {
  line-height: 1.3;
  font-size: 1rem;
}

.profile-aside__avatar-ibg {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 47.99875em) {
  .books__body {
    padding-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #888888;
  }

  .books__items {
    padding-right: 0.9375rem;
  }

  .chapters__items {
    padding-right: 0.9375rem;
  }

  .stats-chapters {
    padding-left: 0.625rem;
    padding-right: 0.9375rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 83.125em) {
  .books__items {
    padding-top: 1.875rem;
  }

  .chapters__items {
    padding-bottom: 1.875rem;
  }
}

@media (min-width: 68.75em) {
  .page__main {
    padding-right: 1.25rem;
    border-right: 0.0625rem solid #888888;
  }

  .aside-block {
    padding-left: 1.25rem;
  }

  .contests-aside__content {
    padding-right: 0.9375rem;
  }
}

@media (min-width: 83.125em) {
  .header__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .footer__socials {
    gap: 1.25rem;
  }

  .footer__decor {
    margin-left: 1.875rem;
  }

  .create-book__body {
    padding-bottom: 1.875rem;
  }

  .create-book__title {
    font-size: 1.75rem;
  }

  .create-book__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .create-book__actions {
    padding-top: 1.25rem;
  }

  .create-book__actions:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .books__title {
    font-size: 1.75rem;
  }

  .books__list:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .books__sub-title {
    font-size: 1.5rem;
  }

  .books__sub-title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .chapters__items {
    padding-bottom: 1.875rem;
  }

  .chapters__title {
    font-size: 1.75rem;
  }

  .stats-chapters {
    padding-top: 1.25rem;
  }

  .contests-aside__heading {
    font-size: 1.5rem;
  }

  .points-contests-aside__value {
    font-size: 1.875rem;
  }

  .challenge-block__title {
    font-size: 1.25rem;
  }

  .achievements-block__title {
    font-size: 1.25rem;
  }

  .prompts-aside__title {
    font-size: 1.25rem;
  }

  .profile-aside__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .footer__socials {
    gap: 0.625rem;
  }

  .footer__decor {
    margin-left: 0.9375rem;
  }

  .create-book__title {
    font-size: 1.375rem;
  }

  .books__title {
    font-size: 1.375rem;
  }

  .books__sub-title {
    font-size: 1.25rem;
  }

  .chapters__title {
    font-size: 1.375rem;
  }

  .contests-aside__heading {
    font-size: 1.25rem;
  }

  .points-contests-aside__value {
    font-size: 1.5rem;
  }

  .challenge-block__title {
    font-size: 1rem;
  }

  .achievements-block__title {
    font-size: 1rem;
  }

  .prompts-aside__title {
    font-size: 1rem;
  }

  .profile-aside__title {
    font-size: 1rem;
  }
}

@media (max-width: 81.25em) {
  .footer__container-big {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }

  .footer__copy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    text-align: center;
  }

  .footer__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__socials {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__decor {
    display: none;
  }
}

@media (max-width: 68.75em) {
  .page__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .aside-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
  }

  .aside-block__contests {
    padding-top: 1.25rem;
  }

  .create-book {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .books {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .chapters {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .prompts-aside {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 61.99875em) {
  .footer__container-big {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__copy {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .header__container {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
  }

  .header__left-part {
    display: none;
  }

  .header__logo img {
    max-height: 6.25rem;
  }

  .header__right-part {
    padding: 1.25rem 1.875rem;
  }

  .header__navigation {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    gap: 1.25rem;
  }

  .aside-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .create-book {
    row-gap: 1.25rem;
  }

  .create-book__content {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.9375rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .create-book__body {
    padding-bottom: 0.9375rem;
  }

  .create-book__body {
    -ms-grid-row-span: 2;
    grid-row: span 2;
    padding-bottom: 0rem;
    border-bottom: none;
  }

  .create-book__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .create-book__actions {
    padding-top: 0.625rem;
  }

  .create-book__actions:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .create-book__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .create-book__image {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .books {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
  }

  .books__content {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .books__list:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .books__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .books__button {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .books__sub-title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .chapters {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .chapters__items {
    padding-bottom: 0.9375rem;
  }

  .stats-chapters {
    padding-top: 0.9375rem;
  }

  .indicators-aside {
    padding-top: 0rem;
  }

  .prompts-aside {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 0rem;
  }

  .profile-aside__item:first-child {
    padding-top: 0rem;
  }
}

@media (max-width: 29.99875em) {
  .header__logo img {
    max-height: 5rem;
  }

  .header__right-part {
    padding: 0.9375rem 1.5625rem;
  }

  .header__right-part a {
    font-size: 1rem;
  }

  .header__navigation {
    gap: 0.9375rem;
  }

  .header__icons {
    gap: 0.9375rem;
  }

  .icon-menu {
    width: 1.5625rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.5625rem;
            flex: 0 0 1.5625rem;
  }

  .create-book {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .create-book__content {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .create-book__body {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }

  .create-book__image {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .books__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
  }

  .contests-aside__body {
    gap: 0.625rem;
  }

  .prompts-aside {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.25rem;
  }

  .prompts-aside__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .prompts-aside__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 47.99875em) and (max-width: 83.125em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -1.3121196755rem  +  5.3378883314vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -1.3121196755rem  +  5.3378883314vw , 3.125rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 1.25rem , -1.3121196755rem  +  5.3378883314vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , -1.3121196755rem  +  5.3378883314vw , 3.125rem );
              column-gap: clamp( 1.25rem , -1.3121196755rem  +  5.3378883314vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.3121196755rem  +  5.3378883314vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -1.3121196755rem  +  5.3378883314vw , 3.125rem ))) {
    .header__container {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / 35.12625);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / 35.12625);
              column-gap: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .create-book__body {
      padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .create-book__body {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem )) {
    .create-book__item:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem )) {
    .create-book__item:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem )) {
    .create-book__actions {
      padding-top: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem )) {
    .create-book__actions {
      padding-top: calc(0.625rem + 0.625 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem )) {
    .create-book__actions:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.2290398918rem  +  1.7792961105vw , 1.25rem )) {
    .create-book__actions:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3959601082rem  +  1.7792961105vw , 1.875rem )) {
    .books__list:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3959601082rem  +  1.7792961105vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3959601082rem  +  1.7792961105vw , 1.875rem )) {
    .books__list:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .books__sub-title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .books__sub-title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .chapters__items {
      padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .chapters__items {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.5104800541rem  +  0.8896480552vw , 1.25rem )) {
    .stats-chapters {
      padding-top: clamp( 0.9375rem , 0.5104800541rem  +  0.8896480552vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5104800541rem  +  0.8896480552vw , 1.25rem )) {
    .stats-chapters {
      padding-top: calc(0.9375rem + 0.3125 * (100vw - 47.99875rem) / 35.12625);
    }
}
}

@media (min-width: 20em) and (max-width: 83.125em) {
@supports (gap: clamp( 0.625rem , 0.426980198rem  +  0.9900990099vw , 1.25rem )) {
    .footer__socials {
      gap: clamp( 0.625rem , 0.426980198rem  +  0.9900990099vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.426980198rem  +  0.9900990099vw , 1.25rem )) {
    .footer__socials {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-left: clamp( 0.9375rem , 0.640470297rem  +  1.4851485149vw , 1.875rem )) {
    .footer__decor {
      margin-left: clamp( 0.9375rem , 0.640470297rem  +  1.4851485149vw , 1.875rem );
    }
}

@supports not (margin-left: clamp( 0.9375rem , 0.640470297rem  +  1.4851485149vw , 1.875rem )) {
    .footer__decor {
      margin-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem )) {
    .create-book__title {
      font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem )) {
    .create-book__title {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem )) {
    .books__title {
      font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem )) {
    .books__title {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1707920792rem  +  0.396039604vw , 1.5rem )) {
    .books__sub-title {
      font-size: clamp( 1.25rem , 1.1707920792rem  +  0.396039604vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1707920792rem  +  0.396039604vw , 1.5rem )) {
    .books__sub-title {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem )) {
    .chapters__title {
      font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2561881188rem  +  0.5940594059vw , 1.75rem )) {
    .chapters__title {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1707920792rem  +  0.396039604vw , 1.5rem )) {
    .contests-aside__heading {
      font-size: clamp( 1.25rem , 1.1707920792rem  +  0.396039604vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1707920792rem  +  0.396039604vw , 1.5rem )) {
    .contests-aside__heading {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3811881188rem  +  0.5940594059vw , 1.875rem )) {
    .points-contests-aside__value {
      font-size: clamp( 1.5rem , 1.3811881188rem  +  0.5940594059vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3811881188rem  +  0.5940594059vw , 1.875rem )) {
    .points-contests-aside__value {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .challenge-block__title {
      font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .challenge-block__title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .achievements-block__title {
      font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .achievements-block__title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .prompts-aside__title {
      font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .prompts-aside__title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .profile-aside__title {
      font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9207920792rem  +  0.396039604vw , 1.25rem )) {
    .profile-aside__title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 63.125);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 47.99875em) and (max-width: 83.125em) {
@supports (padding-top: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .books__items {
      padding-top: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .books__items {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 47.99875rem) / 35.12625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .chapters__items {
      padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.3435598377rem  +  2.6689441657vw , 1.875rem )) {
    .chapters__items {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 47.99875rem) / 35.12625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 47.99875em) {
  .books__items {
    padding-top: 0.9375rem;
  }

  .chapters__items {
    padding-bottom: 0.9375rem;
  }
}

@media (any-hover: hover) {
  .menu__item:hover {
    background-color: #962f2f;
  }

  .menu__item:hover a {
    color: #fff;
  }

  .footer_link:hover {
    text-decoration: underline;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .button:hover {
    background-color: #888888;
    color: #fff;
  }

  .create-book__link:hover {
    text-decoration: underline;
  }

  .create-book__one-day:hover {
    text-decoration: underline;
  }

  .create-book__button:hover {
    background-color: #721f1f;
  }

  .item-create-book__link:hover {
    text-decoration: underline;
  }

  .books__text:hover {
    text-decoration: underline;
  }

  .books__button:hover {
    text-decoration: none;
  }

  .stats-chapters__category:hover {
    text-decoration: underline;
  }

  .points-contests-aside__button:hover {
    background-color: #721f1f;
  }

  .challenge-block__text:hover {
    text-decoration: underline;
  }

  .achievements-block__text:hover {
    text-decoration: underline;
  }

  .prompts-aside__link:hover {
    text-decoration: none;
  }

  .profile-aside__link:hover {
    text-decoration: underline;
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}